* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #333;
}


body {
    width: 1280px;
    margin: auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
    color: #fff;
    height: 60px;
    border: 1px solid #fff;
}

.logo {
    margin: auto;
}

.search {
    margin: auto;
    width: 50%;
    height: 40px;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 5px;
    overflow: hidden;
    position: relative;
}

.right-container {
    width: 30%;
    margin: auto;
}

.search__input {
    border: none;
    border-radius: 5px 0 0 5px;
    background-color: #555;
    padding: 0 20px;
    width: 84%;
    height: 100%;
    color: #fff;
    outline: none;
}

.search__btn {
    width: 16%;
    height: 30px;
    color: rgb(41, 182, 255);
    padding: 50px 100px 50px 10px;
    font-weight: 600;
    border: none;
    border-left: 1px solid #aaa;
    background-color: #333;
    cursor: pointer;
    position: absolute;
    top: -39px;
}

.search__btn:hover {
    background-color: rgba(41, 182, 255, 0.2);
}